/* app page styles */
.main-container{
  padding-left: 10px;
  padding-right: 10px;
}

/* styles for image  */
.image{
  max-width: 100%;
}
.image-container{
  width: 100%;
  padding: 10px;
}
.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

/* styles for navbar */
.navbar{
  background: #171c24;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.nav-link{
  font-size: 20px;
  color: #fff;
}
.nav-link:hover{
  color: black;
}


/* styles for home */
.heading{
  text-align: center;
}

/* footer class styles */
.footer-class{
  display: block;
  align-items: center;
}

/* styles for about us  */
.about-us-container{
  display: flex;
}