/* app page styles */
.main-container{
  padding-left: 10px;
  padding-right: 10px;
}

/* styles for image  */
.image{
  max-width: 100%;
}
.image-container{
  width: 100%;
  padding: 10px;
}

/* styles for navbar */
.nav-link{
  font-size: 20px;
  color: #fff;
}
.nav-link:hover{
  color: black;
}


/* styles for home */
.heading{
  text-align: center;
}