/* app page styles */
.main-container{
  padding-left: 10px;
  padding-right: 10px;
}

/* styles for image  */
.image{
  max-width: 100%;
}
.image-container{
  width: 100%;
  padding: 10px;
}
.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

/* styles for navbar */
.navbar{
  background: #171c24;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.nav-link{
  font-size: 20px;
  color: #fff;
}
.nav-link:hover{
  color: black;
}


/* styles for home */
.heading{
  text-align: center;
}

/* footer class styles */
.footer-class{
  display: block;
  align-items: center;
  
  justify-content: center;
}
.footer-class .fa {
  padding: 20px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-google {
  background: #dd4b39;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-whatsapp{
  background: #0e8a1e;
  color: white;
}

/* styles for about us  */
.heading{
  padding: 20px;
}
.about-us-container{
  display: flex;
  flex-wrap: wrap;

}
.left{
  flex: 50%;
 
}
.left .photo{
  width: 100%;
  height: auto;
  background-size: cover;
}

.right{
  flex: 50%;
  justify-content: center;
  align-items: center;
}

.card-container .card{
  padding: 3px;
  margin: 6px;
  
}
.card-container .card-body{
  display: flex;
}
.card-container .card-body .image-card{
  position: absolute;
  right: 0px;
}
.fa-solid fa-books{
  text-decoration: none;
  color: #171c24;
}
.fa-solid fa-books:hover{
  font-size: 20px;
  color: #292a2c;
  transition: 10ms;
}
.book-pic{
  width: 100px;
  height: 50px;
}
























/* responsive for pages  */
@media (max-width: 800px) {
  .right, .left {
    flex: 100%;
  }
  .footer-class .fa{
    font-size: 15px;
  }
}